@model AssistMeProject.Models.Comment

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>


<div class="row">
    <div class="col-md-9">
        <div class="page-content answer-reply">
            <div class="boxedtitle page-title"><h2>Comment</h2></div>
            <div class="form-style form-style-3" id="comment-submit">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="form-inputs clearfix">

                        <p>
                            <label asp-for="Description" class="required">Details<span>*</span></label>
                            <textarea asp-for="Description" id="question-details" aria-required="true" cols="58" rows="8"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </p>
                    </div>

                    <input type="hidden" asp-for="AnswerId" />

                    <div class="form-group">
                        <input type="submit" value="Comment" class="button color small submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--
<div>
    <a asp-action="Index">Back to List</a>
</div>
    -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
