@model AssistMeProject.Models.Answer

@{
    ViewData["Title"] = "Details";
}


<div class="page-content">
<ol class="commentlist clearfix">
    <Partial name="_AnswerPartial" model="Model" view-data="ViewData" />
</ol>
</div>
    @section scripts{
        <script>
        $(function () {
            $.ajax({
                url: "@Url.Content("~/Comments/CommentList?AnswerId="+Model.Id)"
            }).done(function (data) {
                $('#commentlist_@Model.Id').html(data);
            }).fail(function () {
                alert("error");
            });
        }
        );
        </script>
    }

