@model AssistMeProject.Models.Answer

@{
    ViewData["Title"] = "Details";
}

<h4>Answer</h4>
<Partial name="_AnswerPartial" model="Model" view-data="ViewData" />
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "@Url.Content("~/Comments/CommentList?AnswerId="+Model.Id)"
            }).done(function (data) {
                $('#commentlist_@Model.Id').html(data);
            }).fail(function () {
                alert("error");
            });
        }
        );
    </script>
}

