@model AssistMeProject.Models.Studio

@{
    ViewData["Title"] = "Crear Nuevo Studio";
}



<div class="breadcrumbs">
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Ask Question</h1>
            </div>
            <div class="col-md-12">
                <div class="crumbs">
                    <a href="#">Home</a>
                    <span class="crumbs-span">/</span>
                    <a href="#">Página de Administrador</a>
                    <span class="crumbs-span">/</span>
                    <span class="current">Crear Nuevo Studio</span>
                </div>
            </div>
        </div><!-- End row -->
    </section><!-- End container -->
</div><!-- End breadcrumbs -->

<section class="container main-content">
    <div class="row">
        <div class="col-md-9">
            <div class="page-content ask-question">
                <div class="boxedtitle page-title"><h2> Crear Nuevo Studio</h2></div>
                <div class="form-style form-style-3" id="question-submit">
                    <form asp-action="CreateStudio">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <p>
                                <label asp-for="Name" class="required">Nombre del Studio<span>*</span></label>
                                <input asp-for="Name" type="text" id="question-title">
                                <span asp-validation-for="Name" class="form-description">Por favor escriba un nombre adecuado para el Studio</span>
                            </p>
                            <p>
                                <div class="form-group">
                                    <label asp-for="Unit" class="required">Categoría<span>*</span></label>

                                    <span class="styled-select">

                                        <select asp-for="Unit" class="form-control" asp-items="ViewBag.Unit"></select>
                                    </span>

                                    <span asp-validation-for="Unit" class="form-description">Verifique previamente el área a la que pertenecerá el nuevo Studio.</span>
                                </div>
                            </p>
                            <div class="form-group">
                                <p>
                                    <label asp-for="Description" class="required">Detalles del Studio<span>*</span></label>
                                    <textarea asp-for="Description" id="question-details" aria-required="true" cols="58" rows="8"></textarea>
                                    <span asp-validation-for="Description" class="form-description">Indique cualquier detalle que considere importante.</span>
                                </p>
                            </div>

                            
                                <label >Ícono del Studio</label>
                                <div class="fileinputs">
                                    <input  type="file" class="file">
                                    <div class="fakefile">
                                        <button type="button" class="button small margin_0">Subir archivo</button>
                                        <span><i class="icon-arrow-up"></i>Browse</span>
                                    </div>
                                </div>
                       

                        </div>
                      
                        <p class="form-group">
                            <input type="submit" id="crear-studio" value="Crear Studio" class="button color small submit">
                        </p>
                    </form>
                </div>
            </div><!-- End page-content -->
        </div><!-- End main -->
        <aside class="col-md-3 sidebar">
            <div class="widget widget_stats">
                <h3 class="widget_title">Stats</h3>
                <div class="ul_list ul_list-icon-ok">
                    <ul>
                        <li><i class="icon-question-sign"></i>Questions ( <span>20</span> )</li>
                        <li><i class="icon-comment"></i>Answers ( <span>50</span> )</li>
                    </ul>
                </div>
            </div>

            <div class="widget widget_social">
                <h3 class="widget_title">Find Us</h3>
                <ul>
                    <li class="rss-subscribers">
                        <a href="#" target="_blank">
                            <strong>
                                <i class="icon-rss"></i>
                                <span>Subscribe</span><br>
                                <small>To RSS Feed</small>
                            </strong>
                        </a>
                    </li>
                    <li class="facebook-fans">
                        <a href="#" target="_blank">
                            <strong>
                                <i class="social_icon-facebook"></i>
                                <span>5,000</span><br>
                                <small>People like it</small>
                            </strong>
                        </a>
                    </li>
                    <li class="twitter-followers">
                        <a href="#" target="_blank">
                            <strong>
                                <i class="social_icon-twitter"></i>
                                <span>3,000</span><br>
                                <small>Followers</small>
                            </strong>
                        </a>
                    </li>
                    <li class="youtube-subs">
                        <a href="#" target="_blank">
                            <strong>
                                <i class="icon-play"></i>
                                <span>1,000</span><br>
                                <small>Subscribers</small>
                            </strong>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="widget widget_login">
                <h3 class="widget_title">Login</h3>
                <div class="form-style form-style-2">
                    <form>
                        <div class="form-inputs clearfix">
                            <p class="login-text">
                                <input type="text" value="Username" onfocus="if (this.value == 'Username') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Username';}">
                                <i class="icon-user"></i>
                            </p>
                            <p class="login-password">
                                <input type="password" value="Password" onfocus="if (this.value == 'Password') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Password';}">
                                <i class="icon-lock"></i>
                                <a href="#">Forget</a>
                            </p>
                        </div>
                        <p class="form-submit login-submit">
                            <input type="submit" value="Log in" class="button color small login-submit submit">
                        </p>
                        <div class="rememberme">
                            <label><input type="checkbox" checked="checked"> Remember Me</label>
                        </div>
                    </form>
                    <ul class="login-links login-links-r">
                        <li><a href="#">Register</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="widget widget_highest_points">
                <h3 class="widget_title">Highest points</h3>
                <ul>
                    <li>
                        <div class="author-img">
                            <a href="#"><img width="60" height="60" src="http://placehold.it/60x60/FFF/444" alt=""></a>
                        </div>
                        <h6><a href="#">admin</a></h6>
                        <span class="comment">12 Points</span>
                    </li>
                    <li>
                        <div class="author-img">
                            <a href="#"><img width="60" height="60" src="http://placehold.it/60x60/FFF/444" alt=""></a>
                        </div>
                        <h6><a href="#">vbegy</a></h6>
                        <span class="comment">10 Points</span>
                    </li>
                    <li>
                        <div class="author-img">
                            <a href="#"><img width="60" height="60" src="http://placehold.it/60x60/FFF/444" alt=""></a>
                        </div>
                        <h6><a href="#">ahmed</a></h6>
                        <span class="comment">5 Points</span>
                    </li>
                </ul>
            </div>

       
          

        </aside><!-- End sidebar -->
    </div><!-- End row -->
</section><!-- End container -->
