@model AssistMeProject.Models.Question

@{
    ViewData["Title"] = "AdvancedSearch";
}

<div class="row">
    <div class="col-md-9">

        <div class="page-content ask-question">
            <div class="boxedtitle page-title"><h2>Búsqueda avanzada</h2></div>

            <p>Para realizar una búsqueda avanzada especifique los parámetros de búsqueda ya sea por añadiendo etiquetas, studios o Glober creador.</p>

            <div class="form-style form-style-3" id="question-submit">
                <form asp-action="AdvancedSearch">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-inputs clearfix">
                        <p>
                            <label asp-for="Title" class="required">Search query<span>*</span></label>
                            <input asp-for="Title" name="query" type="text" id="question-title">
                            <span class="form-description">Please enter the terms to be searched.</span>
                            <span asp-validation-for="Title" class="text-danger"></span>

                        </p>
                        <div id="form-textarea">
                                                    
                            <p>
                                <label for="glober">Glober</label>
                                <input name="glober" type="text" id="question-title">
                            </p>

                            <p>
                                <label for="question_tags">Tags</label>
                                <input class="input" name="question_tags" id="question_tags" data-seperator=",">
                                <span class="form-description">Please choose  suitable Keywords Ex : <span class="color">question , poll</span> .</span>
                            </p>
                            <p>
                                <div class="form-group">
                                    <label>Studio 1</label>

                                    <span class="styled-select">
                                        <select name="studio" class="form-control" asp-items="ViewBag.Studios"></select>

                                    </span>
                                </div>
                            </p>
                            <p>
                                <div class="form-group">

                                    <label>Studio 2</label>

                                    <span class="styled-select">

                                        <select name="studio2" class="form-control" asp-items="ViewBag.Studios"></select>
                                    </span>
                                    <span class="form-description">If you don't need a new Studio, choose a previously selected one.</span>
                                </div>
                            </p>
                            <p>
                                <div class="form-group">
                                    <label>Studio 3</label>

                                    <span class="styled-select">

                                        <select name="studio3" class="form-control" asp-items="ViewBag.Studios"></select>
                                    </span>
                                    <span class="form-description">If you don't need a new Studio, choose a previously selected one.</span>

                                </div>
                            </p>

                        </div>
                    </div>
                    <p class="form-submit">
                        <input type="submit" id="publish-question" value="Buscar" class="button color small submit">
                    </p>
                </form>

            </div>
        </div><!-- End page-content -->
    </div><!-- End main -->
</div><!-- End row -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
