@model AssistMeProject.Models.Question

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-9">

        <div class="page-content ask-question">
            <div class="boxedtitle page-title"><h2>Ask Question : @ViewBag.username</h2></div>

            <p>To ask a question you must fill this form.</p>

            <div class="form-style form-style-3" id="question-submit">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-inputs clearfix">
                        <p>
                            <label asp-for="Title" class="required">Question Title<span>*</span></label>
                            <input asp-for="Title" type="text" id="question-title">
                            <span class="form-description">Please choose an appropriate title for the question to answer it even easier .</span>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </p>
                        @*<div id="form-textarea">*@
                        <p>
                            <label asp-for="Description" class="required">Details<span>*</span></label>
                            <textarea asp-for="Description" id="question-details" aria-required="true" cols="58" rows="8"></textarea>
                            <span class="form-description">Type the description thoroughly and in detail .</span>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </p>
                        <p>
                            <label class="required">Tags<span>*</span></label>
                            <input class="input" name="question_tags" id="question_tags" data-seperator=",">
                            <span class="form-description">Please choose  suitable Keywords Ex : <span class="color">question , poll</span> .</span>
                        </p>
                        <p>
                            <div class="form-group">
                                <label class="required">Studio<span>*</span></label>

                                <span class="styled-select">

                                    <select name="studio" class="form-control" asp-items="ViewBag.Studios"></select>
                                </span>

                            </div>
                        </p>

                        <label>File</label>
                        <div class="fileinputs">
                            <input type="file" class="file">
                            <div class="fakefile">
                                <button type="button" class="button small margin_0">Select file</button>
                                <span><i class="icon-arrow-up"></i>Browse</span>
                            </div>
                            @*</div>*@
                        </div>
                    </div>
                    
                    <p class="form-submit">
                        <input type="submit" id="publish-question" value="Ask now" class="button color small submit">
                    </p>
                </form>
            </div>
        </div><!-- End page-content -->
    </div><!-- End main -->
</div><!-- End row -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
