
@model List<String>


@{
	string title = "Suggestions";
	//Example of how to get data of user
	if (ViewBag.User != null)
	{
		title = ViewBag.User.USERNAME;
	}
	//End of example
	ViewData["Sugerencias"] = title;
}

<h2>Suggestions</h2>
	<table>
		@foreach (var s in Model)
		{
			<td> @s.ToString()</td>
		}
	</table>


