@model IEnumerable<User>
@{
    ViewData["Title"] = "Top Replyers";
}

<div class="widget widget_highest_points">
    <h3 class="widget_title">Top Replyers</h3>
    <ul>
        @foreach (var user in Model)
        {
            <li>
                <div class="author-img">
                    <a href="#"><img width="60" height="60" src="@user.PHOTO" alt=""></a>
                </div>
                <h6><a href="#">@user.USERNAME</a></h6>
                <span class="comment">@user.Answers.Count Answers</span>
            </li>
        }
    </ul>
</div><!--End Highgest Point-->
