
@{
    ViewData["Title"] = "Stats";
}

<div class="widget widget_stats">
    <h3 class="widget_title">Stats</h3>
    <div class="ul_list ul_list-icon-ok">
        <ul>
            <li><i class="icon-user"></i>Users ( <span>@ViewData["Users"]</span> )</li>
            <li><i class="icon-question-sign"></i>Questions ( <span>@ViewData["Questions"]</span> )</li>
            <li><i class="icon-comment"></i>Answers ( <span>@ViewData["Answers"]</span> )</li>
        </ul>
    </div>
</div><!--End stats-->