<!DOCTYPE html>
<html>
<head>


    <meta charset="utf-8" />
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"] - AssistMeProject</title>

    <environment include="Development">
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


    <!--modificados todos los links para que sean relativos ~/ruta-->
    <!-- Main Style -->
    <link rel="stylesheet" href="~/style.css">

    <!-- Skins -->
    <link rel="stylesheet" href="~/css/skins/skins.css">

    <!-- Responsive Style -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/images/favicon.png">
</head>
<body>
    <div class="loader"><div class="loader_html"></div></div>
    <div id="wrap" class="grid_1200">
        <div id="header-top">
            <section class="container clearfix">
                <!--nav class="header-top-nav">
                <ul>
                    <li><a href="contact_us.html"><i class="icon-envelope"></i>Contact</a></li>
                    <li><a href="#"><i class="icon-headphones"></i>Support</a></li>
                    <li><a href="login.html" id="login-panel"><i class="icon-user"></i>Login Area</a></li>
                </ul>
            </nav -->
                <div class="header-search">
                    <form action='@Url.Action("Search", "Questions")' method="post">

                        <input type="text" value="Search here ..." onfocus="if(this.value=='Search here ...')this.value='';" onblur="if(this.value=='')this.value='Search here ...';" name="query">
                        <button type="submit" class="search-submit"></button>
                    </form>
                </div>
            </section><!-- End container -->
        </div><!-- End header-top -->

        <header id="header">
            <section class="container clearfix">
                <div class="logo"><a asp-controller="Home" asp-action="Index"><img alt="" src="~/images/logo.png"></a></div> <!--agregado icono de la app y link a home page desde el mismo-->
                <nav class="navigation">
                    <ul>
                        <li class="current_page_item">
                            <a asp-controller="Home" asp-action="Index">Home</a> <!--Agregado link a home -->
                        </li>
                        <li class="ask_question"><a asp-controller="Questions" asp-action="Create">Ask Question</a></li> <!--Agregado link a crear question-->
                        <li class="asearch_question"><a asp-controller="Questions" asp-action="AdvancedSearch">Advanced Search</a></li>
                        <li>
                            <a asp-controller="Questions" asp-action="Index">Questions</a><!--Agregado link a lista de Questions-->
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Questions Category</a></li><!--Faltan funciones-->
                                <li><a href="single_question.html">Question Single</a></li>
                                <li><a href="single_question_poll.html">Poll Question Single</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="user_profile.html">User</a><!--Faltan estas funcionalidades-->
                            <ul>
                                <li><a href="/Users/">Iniciar sesión</a></li>
                                <li><a href="/Users/Profile">Perfil de Usuario</a></li>
                                <li><a href="user_questions.html">User Questions</a></li>
                                <li><a href="user_answers.html">User Answers</a></li>
                                <li><a href="user_favorite_questions.html">User Favorite Questions</a></li>
                                <li><a href="user_points.html">User Points</a></li>
                                <li><a href="edit_profile.html">Edit Profile</a></li>
                                <li><a href="/Users/Logout">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="admin.html">Administrador</a><!--Faltan estas funcionalidades-->
                            <ul>
                                <li><a href="/Admin/">Página Administrador</a></li>
                                <li><a href="/Admin/AddAdminList">Asignar Rol Administrador</a></li>
                                <li><a href="/Admin/CreateStudio">Crear Nuevo Studio</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="right_sidebar.html">Pages</a> <!--Faltan estos links-->
                            <ul>
                                <li><a href="">Login</a></li>
                                <li><a href="contact_us.html">Contact Us</a></li>
                                <li><a href="ask_question.html">Ask Question</a></li>
                                <li><a href="right_sidebar.html">Right Sidebar</a></li>
                                <li><a href="left_sidebar.html">Left Sidebar</a></li>
                                <li><a href="full_width.html">Full Width</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </li>

                        <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                    </ul>
                </nav>
            </section><!-- End container -->
        </header><!-- End header -->

        <aside class="col-md-3 sidebar">
            @await Component.InvokeAsync("Stats")

            <div class="widget widget_tag_cloud">
                <h3 class="widget_title">Tags</h3>
                <a href="#">projects</a>
                <a href="#">Portfolio</a>
                <a href="#">Wordpress</a>
                <a href="#">Html</a>
                <a href="#">Css</a>
                <a href="#">jQuery</a>
                <a href="#">2code</a>
                <a href="#">vbegy</a>
            </div> <!--End tags-->

            <div class="widget widget_highest_points">
                <h3 class="widget_title">Highest points</h3>
                <ul>
                    <li>
                        <div class="author-img">
                            <a href="#"><img width="60" height="60" src="http://placehold.it/60x60/FFF/444" alt=""></a>
                        </div>
                        <h6><a href="#">user 1</a></h6>
                        <span class="comment">12 Points</span>
                    </li>
                    <li>
                        <div class="author-img">
                            <a href="#"><img width="60" height="60" src="http://placehold.it/60x60/FFF/444" alt=""></a>
                        </div>
                        <h6><a href="#">user 2</a></h6>
                        <span class="comment">11 Points</span>
                    </li>
                </ul>
            </div><!--End Highgest Point-->


        </aside><!--End Sidebar-->

    </div> <!--End wrap-->

    <partial name="_CookieConsentPartial" />

    <div class="container main-content">

        @RenderBody()
        <hr />

    </div>

    <footer id="footer-bottom">
        <section class="container">
            <div class="copyrights f_left">AssistMe 2019 &copy; <a href="#"></a></div>
            <!--<div class="social_icons f_right">
                <ul>
                    <li class="twitter"><a original-title="Twitter" class="tooltip-n" href="#"><i class="social_icon-twitter font17"></i></a></li>
                    <li class="facebook"><a original-title="Facebook" class="tooltip-n" href="#"><i class="social_icon-facebook font17"></i></a></li>
                    <li class="gplus"><a original-title="Google plus" class="tooltip-n" href="#"><i class="social_icon-gplus font17"></i></a></li>
                    <li class="youtube"><a original-title="Youtube" class="tooltip-n" href="#"><i class="social_icon-youtube font17"></i></a></li>
                    <li class="skype"><a original-title="Skype" class="tooltip-n" href="skype:#?call"><i class="social_icon-skype font17"></i></a></li>
                    <li class="flickr"><a original-title="Flickr" class="tooltip-n" href="#"><i class="social_icon-flickr font17"></i></a></li>
                    <li class="rss"><a original-title="Rss" class="tooltip-n" href="#"><i class="social_icon-rss font17"></i></a></li>
                </ul>
            </div>-->
            <!-- End social_icons -->
        </section><!-- End container -->
    </footer><!-- End footer-bottom -->

    <div class="go-up"><i class="icon-chevron-up"></i></div>

    <!-- js -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/js/jquery.easing.1.3.min.js"></script>
    <script src="~/js/html5.js"></script>
    <script src="~/js/twitter/jquery.tweet.js"></script>
    <script src="~/js/jflickrfeed.min.js"></script>
    <script src="~/js/jquery.inview.min.js"></script>
    <script src="~/js/jquery.tipsy.js"></script>
    <script src="~/js/tabs.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="~/js/jquery.scrollTo.js"></script>
    <script src="~/js/jquery.nav.js"></script>
    <script src="~/js/tags.js"></script>
    <script src="~/js/jquery.bxslider.min.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- End js -->




    @*<environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
