@model IEnumerable<AssistMeProject.Models.Question>


@{
    string title = "Questions";
    //Example of how to get data of user
    if (ViewBag.User != null)
    {
        title = ViewBag.User.USERNAME;
    }
    //End of example
    ViewData["Title"] = title;
}



<section class="container main-content page-left-sidebar" id="main">
    <div class="row">
        <div class="col-md-9">


            <div class="row">
                <div class="col-md-9">
                <p></p>
                <p>

                </p>
                    <div class="page-content ask-question">
                        <div class="boxedtitle page-title"><h2>Filtrar preguntas por Studio</h2></div>

                        <p>Escoja el Studio del que desea visualizar las preguntas hechas.</p>

                        <div class="form-style form-style-3" id="question-submit">

                            <form asp-action="ShowStudioTable">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-inputs clearfix">
                                    <div class="form-group">
                                        <label class="required"> Studio <span>*</span></label>
                                        <span class="styled-select">
                                            <select name="studio" class="form-control" asp-items="ViewBag.Studios"></select>
                                        </span>
                                    </div>
                                </div>
                                <p class="form-submit">
                                    <input type="submit" id="publish-question" value="Ver tabla" class="button color small submit">
                                </p>
                            </form>

                        </div>
                    </div><!-- End page-content -->

                    <p></p><p></p>
                    <p></p>

                    <div class="page-content ask-question">
                        <div class="boxedtitle page-title"><h2>Escoja el usuario del cual desea ver las preguntas que ha hecho.</h2></div>

                        <p>To ask a question you must fill this form.</p>

                        <div class="form-style form-style-3" id="question-submit">

                            <form asp-action="ShowUserTable">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-inputs clearfix">
                                    <div class="form-group">
                                        <label class="required"> Usuario<span>*</span></label>
                                        <span class="styled-select">
                                            <select name="user" class="form-control" asp-items="ViewBag.Users"></select>
                                        </span>
                                    </div>
                                </div>
                                <p class="form-submit">
                                    <input type="submit" id="publish-question" value="Ver tabla" class="button color small submit">
                                </p>
                            </form>

                        </div>

                    </div><!-- End page-content -->

                    <p></p><p></p><p></p>

                    <div class="page-content ask-question">
                        <div class="boxedtitle page-title"><h2>Mostrar tabla de preguntas sin filtrado</h2></div>

                        <p>Visualizar todas las preguntas.</p>

                        <div class="form-style form-style-3" id="question-submit">

                            <form asp-action="ShowTable">

                                <p class="form-submit">
                                    <input type="submit" id="publish-question" value="Ver tabla" class="button color small submit">
                                </p>
                            </form>


                        </div>

                    </div><!-- End page-content -->

                </div><!-- End main -->
            </div><!-- End row -->



        </div><!-- End page-content -->
     </div><!-- End row -->
</section><!-- End container -->




            <script>
     var level = @ViewData["Admin"];

        window.onload = ocultar();

    function ocultar() {
        if (level == 2) {
            console.log('Este usuario es un administrador');
            document.getElementById('main').style.display = 'block';
        } else {
            foo();
        }
    }

    function foo() {
    window.location.href = 'NotAdmin';
}


            </script>
